/* RESET */

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

body {
    line-height: 1.1;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;   
}

nav ul {
    list-style: none;
}

blockquote:before, blockquote:after, q:before, q:after {
    content:''; content:none;
}

/*  END RESET */










/*..........BODY STARTER..........*/
body { 
    font-family: apertura, sans-serif; /*Skrifttype - uden seriffer*/
    background-color: #f1f2f4; /*Baggrundsfarve - orange*/
}
/*..........BODY SLUTTER..........*/










/*........HEADER STARTER..........*/



.header {
    background-color: #484b54; /*Baggrundsfarve på header*/
    box-shadow: 1px 1px 4px 0 rgba(0,0,0,.2); /*Skygge*/
}


/*OVERSKRIFT 1 - LOGO*/    
.navbar-brand { 
    font-family: apertura, sans-serif; /*Skrifttype*/
    font-weight: 500; /*Skriftens tykkelse*/
    font-style: normal; /*Variant af skrifttype*/
    font-size: 1.2em; /*Skriftstørrelse*/
    padding-top: 5px; /*Luft over overskriften*/
    background-color: #484b54; /*Baggrundsfarve - Mørkegrå*/
    color: #f1f2f4; /*Skriftens farve - lysegrå*/
}

#logo {
    color: #f1f2f4; /*Skriftens farve - lysegrå*/
}


/*BURGERBAR*/

.navbar button {
    border: none; /*Fjerner border rundt om burgerbaren*/
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none; /*Fjerner farve rundt om burgerbaren*/
    box-shadow: none; /*Fjerner skygge rundt om burgerbaren*/
} 


/*DROPDOWNELEMENTER I MENUEN*/
.dropdown-item { /*Målrettet dropdown elementerne i menuen*/
    margin-top: -10px; 
    padding: 20px; /*Padding rundt om elementerne*/
    padding-left: 25px; /*Padding til venstre*/
    font-family: apertura, sans-serif; /*Skrifttype*/
    font-weight: 400; /*Skriftens tykkelse*/
    font-style: normal; /*Variant af skrifttype*/
    font-size: 1em; /*Skriftstørrelse*/
    color: #f1f2f4; /*Skriftens farve - mørkegrå*/
}

.dropdown-item:hover { /*Hovereffekt på dropdown elementer*/
    color: #e29000; /*Hoverfarve - orange*/
    background-color: #484b54; /*Baggrundsfarve - lysegrå*/
}

.dropdown-menu { 
    border: none; /*Fjerner border ved dropdown elementerne*/
    background-color: #484b54; /*Ændre baggrundsfarven bag dropdown elementerne*/
}


/*HOVEDELEMENTER I MENUEN*/
#navbarDropdown{
    font-family: apertura, sans-serif; /*Skrifttype*/
    font-weight: 400; /*Skriftens tykkelse*/
    font-style: normal; /*Variant af skrifttype*/
    font-size: 1.1em; /*Skriftstørrelse*/
    color: #f1f2f4; /*Skriftens farve - mørkegrå*/
    padding-top: 15px; /*Luft omkring hovedelementerne i menuen*/
    padding-bottom: 15px;  
}

#navbarDropdown:hover { /*Hovereffekt på hovedelementerne i menuen*/
    color: #e29000; /*Hoverfarve - orange*/
}


/*......@MEDIA 600PX......*/

@media (min-width:600px) {
    .header {
        padding: 10px; 
    }
}


/*......@MEDIA 990PX......*/

@media (min-width:990px) {
    .dropdown:hover .dropdown-menu {
        display: inherit; 
    }
    .dropdown-item { 
        padding-left: 10px; /*Padding på dropdown elementerne*/
    }
     #mitgrid{
        margin-right: 15%;  
        margin-left: 15%;  
    }
    
}

/*......@MEDIA 13000PX......*/

@media (min-width:1300px) {
    .navbar-brand {
        font-size: 2em; /*Øger skriftstørrelsen på logoet*/
    }
    #navbarDropdown{
    font-size: 1.3em; /*Øger skriftstørrelsen på hovedelementerne i menuen*/
        padding-left: 30px
    }
    .dropdown-item { 
    font-size: 1.1em; /*Øger skriftstørrelsen på dropdownelementerne i menuen*/
    }
    #mitgrid{
        margin-right: 22%;  
        margin-left: 22%;  
        
    }
}


/*........HEADER SLUTTER..........*/










/*........FORSIDE STARTER..........*/

/*Mobile version*/
#forsidetekst {
    grid-area: forsidetekst; /*Bruges under grid-template-areas*/
    font-style: italic; /*Kursiv skrift*/
    text-align: center; /*Centrer teksten i midten af siden*/
    margin: 5% /*Margen*/
    }

#amaliebillede {
    grid-area: amaliebillede; /*Bruges under grid-template-areas*/
    /*Padding - margen udvider siden*/
    padding: 15%;
    padding-top: 0%; 
}


/*.....@MEDIA 800PX.....*/

/*Tablet og desktop version*/
@media (min-width:800px) {
   #forsideafsnit {
    display: grid; /*Grid træder i kraft*/
    grid-template-columns: 1fr 1fr; /*To kolonner hen*/
    grid-template-rows: 1fr; /*En række ned*/
    grid-template-areas: 
        "forsidetekst amaliebillede" /*Opsætning af side*/
    }
    
    #amaliebillede {
        padding: 0%; /*Fjerner tidligere padding*/
        padding-left: 5%; /*Ny padding*/
        display: flex; /*Placerer billedet i midten af skærmen*/
        align-self:  center; /*Placerer billedet i midten af skærmen*/
    }
    
    #forsidetekst{
        margin: 0%; /*Fjerner tidligere margen*/
        padding-right: 5%; /*Tilføjer padding*/
        display: flex; /*Placerer teksten i midten af skærmen*/
        align-items: center; /*Placerer teksten i midten af skærmen*/
    }
    #forsideafsnit {
        padding: 10%; /*Padding rundt om hele afsnittet*/
    }
    .adobelogo{
        float: right; 
    }
}

/*.....@MEDIA 1300PX.....*/

@media (min-width:1300px) {
    #forsidetekst{
        font-size: 1.2em; /*Øger skriftsstørelsen*/
    }
}
/*........FORSIDE SLUTTER..........*/










/*..........OVERSIGT STARTER..........*/

.list-item {
    display: block; /*Får dem til at stå som en liste*/
    font-family: apertura, sans-serif; /*Skrifttype*/
    font-weight: 400; /*Skriftens tykkelse*/
    font-style: normal; /*Variant af skrifttype*/
    font-size: 1em; /*Skriftstørrelse*/
    color: #484b54; /*Skriftens farve - mørkegrå*/
    margin-left: 25px; /*Margen*/
    line-height: 30px; /*Tekstens linjehøjde*/
}

.list-item:hover {
    text-decoration: none; /*Fjerner streg under ordene*/
    color: #e29000; /*Hover farve - orange*/
}

#oversigt {
    text-decoration: none; /*Fjerner stregen under "oversigt"*/
    font-family: apertura, sans-serif; /*Skrifttype*/
    font-weight: 500; /*Skriftens tykkelse*/
    font-style: normal; /*Variant af skrifttype*/
    font-size: 1.2em; /*Skriftstørrelse*/
    color: #484b54; /*Skriftens farve - mørkegrå*/
    /*PADDING*/
    padding-top: 40px; 
}
/*..........OVERSIGT SLUTTER..........*/











/*..........OVERSKRIFT 2 STARTER..........*/
h2 {
    font-family: apertura, sans-serif; /*Skrifttype*/
    font-weight: 500; /*Skriftens tykkelse*/
    font-style: normal; /*Variant af skrifttype*/
    font-size: 1.4em; /*Skriftstørrelse*/
    color: #484b54; /*Skriftens farve - mørkegrå*/
    /*MARGIN*/
    margin-left: 25px; 
    padding-bottom: 10px;
    padding-top: 40px;
}
/*..........OVERSKRIFT 2 SLUTTER..........*/









/*..........OVERSKRIFT 3 STARTER..........*/
h3 {
    font-family: apertura, sans-serif; /*Skrifttype*/
    font-weight: 500; /*Skriftens tykkelse*/
    font-style: normal; /*Variant af skrifttype*/
    font-size: 1.2em; /*Skriftstørrelse*/
    color: #484b54; /*Skriftens farve - mørkegrå*/
    /*MARGIN*/
    margin-left: 25px; 
    margin-top: 30px; 
}
/*..........OVERSKRIFT 3 SLUTTER..........*/










/*..........OVERSKRIFT 4 STARTER..........*/
h4 {
    font-family: apertura, sans-serif; /*Skrifttype*/
    font-weight: 500; /*Skriftens tykkelse*/
    font-style: normal; /*Variant af skrifttype*/
    font-size: 1em; /*Skriftstørrelse*/
    color: #484b54; /*Skriftens farve - mørkegrå*/
    /*MARGIN*/
    margin-left: 25px; 
    margin-top: 30px; 
}
/*..........OVERSKRIFT 4 SLUTTER..........*/











/*..........BRØDTEKST STARTER..........*/
section p {
    font-family: apertura, sans-serif; /*Skrifttype*/
    font-weight: 400; /*Skriftens tykkelse*/
    font-style: normal; /*Variant af skrifttype*/
    font-size: 1em; /*Skriftstørrelse*/
    color: #484b54; /*Skriftens farve - mørkegrå*/
    line-height: 25px; /*Linjehøjde*/
    /*MARGIN*/
    margin-left: 25px; 
    padding-right:  25px; 
    padding-bottom: 10px;
    
}

section p a { /*Links under "kilder"*/
    word-wrap: break-word; /*Gør at linksne ikke udvider sidens bredde*/
}

/*..........BRØDTEKST SLUTTER..........*/










/*..........LISTER..........*/
.liste{
    list-style: none; /*Fjerner prikkerne*/
    font-family: apertura, sans-serif; /*Skrifttype*/
    font-weight: 400; /*Skriftens tykkelse*/
    font-style: normal; /*Variant af skrifttype*/
    font-size: 1em; /*Skriftstørrelse*/
    color: #484b54; /*Skriftens farve - mørkegrå*/
    line-height: 25px; /*Linjehøjde*/
    margin-left: 25px; 
}
/*..........LISTER SLUTTER..........*/











/*..........BILLEDER STARTER..........*/

.billeder {
    box-shadow: 3px 0px 10px #484b54; /*Skygge*/
    max-width: 90%; /*Maks bredde*/
    height: auto; /*Højde*/
    /*MARGIN*/
    margin-left: 25px; 
}

.billedetekst {
    font-style: oblique; /*Kursiv skrift*/
    font-size: 0.9em; /*Skriftstørrelse*/
}

.andrebilleder {
    padding-left: 25px; 
    padding-right: 25px; 
}





/*..........BILLEDER SLUTTER..........*/










/*........TABEL STARTER........*/

table {
    display: block; /*Liste*/
    font-family: apertura, sans-serif; /*Skrifttype*/
    font-weight: 400; /*Skriftens tykkelse*/
    font-style: normal; /*Variant af skrifttype*/
    font-size: 1em; /*Skriftstørrelse*/
    color: #484b54; /*Skriftens farve - mørkegrå*/
    border-collapse: collapse;
    width: 90%; /*Bredde - 90%*/
    /*MARGIN*/
    margin-left: 25px;
    margin-top: 10px; 
    margin-right: 25px; 
    
}


td, th {
  border: 1px solid #484b54; /*Selve tabellen*/
  text-align: left; /*Venstre kant*/
  padding: 10px; /*Luft omkring teksten i tabellen*/
}

/*..........TABEL SLUTTER..........*/







/*..........YOUTUBE VIDEOER STARTER..........*/

.video-container{
    margin-left: 25px; 
    margin-right: 25px; 
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}
.video-container iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}

/*..........YOUTUBE VIDEOER SLUTTER..........*/







/*..........FOOTER STARTER..........*/
footer {
    text-align: right; /*placerer teksten til højre*/
    font-family: apertura, sans-serif; /*Skrifttype*/
    font-weight: 400; /*Skriftens tykkelse*/
    font-style: normal; /*Variant af skrifttype*/
    font-size: 0.6em; /*Skriftstørrelse*/
    background:#484b54; /*Baggrundsfarve - lysegrå*/
    padding: 10px; /*Størrelsen på footeren*/
    padding-right: 25px; /*Luft til højre*/
    color: #f1f2f4; /*Skriftens farve - mørkegrå*/
}

/*..........FOOTER SLUTTER..........*/



























