.list-item {
    display: block; 
    font-family: apertura, sans-serif; /*Skrifttype*/
    font-weight: 400; /*Skriftens tykkelse*/
    font-style: normal; /*Variant af skrifttype*/
    font-size: 1em; /*Skriftstørrelse*/
    color: #484b54; /*Skriftens farve - mørkegrå*/
    margin-left: 25px; 
    line-height: 30px; 
}


#oversigt {
    font-family: apertura, sans-serif; /*Skrifttype*/
    font-weight: 400; /*Skriftens tykkelse*/
    font-style: normal; /*Variant af skrifttype*/
    font-size: 1.3em; /*Skriftstørrelse*/
    color: #484b54; /*Skriftens farve - mørkegrå*/
    margin-left: 24px; 
    line-height: 30px; 
}